<h1>Signup!</h1>
<!-- <% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this apartment from being saved:</h2>

    <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %> -->


<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h2>

    <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
  <div class="form-group">
    Имя<br />
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    Пароль<br />
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    Подтверждение пароля<br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-group">
    Тел. номер<br />
    <%= f.text_field :phone_number %>
  </div>
  <p class="button"><%= f.submit "Зарегистрироваться", class: "btn btn-primary" %></p>
<% end %>

<%= link_to t('links.back'), apartments_path %>
