
<%= form_for(@apartment) do |f| %>
<% if @apartment.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@apartment.errors.count, "error") %>
        prohibited this apartment from being saved:</h2>

    <ul>
        <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div id="address-details">
    <%= f.hidden_field :latitude,'data-geo':"lat" %>
    <%= f.hidden_field :longitude,'data-geo':"lng" %>
</div>



<div class="form-group row">
  <%= f.label :floor,class:"col-sm-2 " %>

  <div class="col-sm-10 input-group ">
    <%= f.number_field :floor, class:"form-control" %>
    <span class="input-group-addon">Этажность</span>
    <%= f.number_field :total_floors, class:"form-control" %>
  </div>
</div>
<div class="form-group row">
    <%= f.label :price, class: "col-sm-2" %>
    <div class="col-sm-10 input-group">
      <%= f.text_field :price, class:"form-control" %>
      <span class="input-group-addon">$</span>
    </div>
</div>
<div class="form-group row">
    <%= f.label :rooms, class: "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.number_field :rooms, class:"form-control" %>
    </div>
</div>
<div class="form-group row">
    <%= f.label :area, class: "col-sm-2" %>
    <div class="col-sm-10 input-group">
      <%= f.text_field :area, class:"form-control" %>
      <span class="input-group-addon">м²</span>
    </div>
</div>
<div class="form-group row">
    <%= f.label :living_area, class: "col-sm-2" %>
    <div class="col-sm-10 input-group">
      <%= f.text_field :living_area, class:"form-control" %>
      <span class="input-group-addon">м²</span>
    </div>
</div>
<div class="form-group row">
    <%= f.label :address, class: "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :address, class:"form-control" %>
    </div>
</div>

<div class="form-group row">
    <%= f.label :description, class: "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class:"form-control" %>
    </div>
</div>

<div class="box-upload">
    <input type="file" name="file" id="apartment-image" class="inputfile" accept="image/*" multiple >

    Перетащите файлы сюда или <label for="apartment-image">выберите файл</label>
    <div class="comment">Первая фотография будет отображаться в результатах поиска</div>
    <div class="img-preview">
      <%= f.fields_for :apartment_photos do |photo| %>
        <% if photo.object.new_record? %>
        <div class="upload">
          <%= photo.file_field :photo, :multiple => true, name: "apartment_photos[photo][]" %>
        </div>
        <% else %>
        <div class="preview">
          <%= image_tag(photo.object.photo_url) %>
          <%= photo.check_box :_destroy %>
        </div>
        <% end %>
      <% end %>

    </div>
</div>


<div class="ymap" data-address="Москва, Кремль">

</div>
<div class="actions">
    <%= f.submit class: "btn btn-primary"%>
</div>


<% end %>
