
<%= form_for(@apartment) do |f| %>
<% if @apartment.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@apartment.errors.count, "error") %>
        prohibited this apartment from being saved:</h2>

    <ul>
        <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div id="address-details">
    <%= f.hidden_field :latitude,'data-geo':"lat" %>
    <%= f.hidden_field :longitude,'data-geo':"lng" %>
</div>

<div class="field">
    <%= f.label :floor %><br>
    <%= f.number_field :floor %>
</div>
<div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
</div>
<div class="field">
    <%= f.label :rooms %><br>
    <%= f.number_field :rooms %>
</div>
<div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
</div>
<div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
</div>

<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
</div>

<%= f.label :apartment_photos %><br>
<div class="box-upload">
    <input type="file" name="file" id="apartment-image" class="inputfile" accept="image/*" multiple >

    Перетащите файлы сюда или <label for="apartment-image">выберите файл</label>
    <div class="comment">Первая фотография будет отображаться в результатах поиска</div>
    <div class="img-preview">
      <% if current_page?(action: 'edit') %>
        <%= f.fields_for :apartment_photos do |photo| %>
        <div class="preview">
            <% if photo.object.new_record? %>
              <%= photo.file_field :photo %>
            <% else %>
              <%= image_tag(photo.object.photo_url) %>
              <%= photo.check_box :_destroy %>
            <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
</div>


<div class="ymap" data-address="Москва, Кремль">

</div>
<div class="actions">
    <%= f.submit %>
</div>


<% end %>
