<%= render "type_selector" %>
<div class="apartment-list">
  <% @apartments.each do |apartment| %>
  <div class="item">
    <div class="photo">
      <% if apartment.apartment_photos.first %>
        <%= image_tag apartment.apartment_photos.first.photo_url %>
      <% end %>
    </div>
    <div class="info">
      <div class="apartment-title">
        <%= link_to(apartment) do %>
          2-x комнатная квартира <%= apartment.address %>
        <% end %>
        <div class="controls">
          <% if can? :edit, apartment %>
          <%= link_to '', edit_apartment_path(apartment), class: "fa fa-pencil" %>
          <% end %>
          <% if can? :destroy, apartment %>
          <%= link_to '', apartment, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-trash-o" %>
          <% end %>
        </div>
      </div>
      <div class="description">
        <%= apartment.description %>
      </div>
      <div class="price"><%= apartment.price %></div>
    </div>
  </div>
  <% end %>

</div>

<br>


<%= will_paginate @posts %>
