
<div class="info-left">

  <address class="">
    <%= @apartment.address %>
  </address>


  <div class="price-block">
    <div class="total"><%= @apartment.price %> $</div>
    <!-- <div class="per-sq">200 00 $ за м<sup>2</sup></div> -->
  </div>

  <p>
    <strong>Floor:</strong>
    <%= @apartment.floor %> / <%= @apartment.total_floors %>
  </p>


  <p>
    <strong>Rooms:</strong>
    <%= @apartment.rooms %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= @apartment.area %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @apartment.description %>
  </p>
  <strong>Телефон представителя:</strong> <%= @apartment.user.phone_number %>
</div>

<div class="info-right">
  <div class="date-added">
    Размещено: <%= time_ago_in_words(@apartment.created_at)%> назад
  </div>
  <div class="date-updated">
    <% if @apartment.updated_at > @apartment.created_at %>
    Изменено: <%= time_ago_in_words(@apartment.updated_at) %> назад
    <% end %>
  </div>
  <div id="apartment_photos">
      <% @apartment_photos.each do |p| %>
          <%= image_tag p.photo %>
      <% end %>
  </div>
</div>





<%= content_tag("div",nil,id:'interactive-map', data: {latitude: @apartment.latitude, longitude: @apartment.longitude}) %>
<% if can? :edit, @apartment %>
  <%= link_to 'Edit', edit_apartment_path(@apartment) %>&nbsp;|&nbsp;
<% end %>
<%= link_to 'Back', apartments_path %>
