<p id="notice"><%= notice %></p>

<% if @apartment.updated_at > @apartment.created_at %>
  Изменено: <%= time_ago_in_words(@apartment.updated_at) %> назад
<% end %>

Размещено: <%= time_ago_in_words(@apartment.created_at)%> назад



<p>
  <strong>Description:</strong>
  <%= @apartment.description %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @apartment.floor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @apartment.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @apartment.rooms %>
</p>

<p>
  <strong>Area:</strong>
  <%= @apartment.area %>
</p>
<p>
  <strong>Address:</strong>
  <%= @apartment.address %>
</p>
<div id="apartment_photos">
    <% @apartment_photos.each do |p| %>
        <%= image_tag p.photo %>
    <% end %>
</div>

<%= content_tag("div",nil,id:'interactive-map', data: {latitude: @apartment.latitude, longitude: @apartment.longitude}) %>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
