<!DOCTYPE html>
<html>
<head>
  <title>Realty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body class="<%= controller_name %> <%= action_name %>" data-no-turbolink="true" >

<%= yield %>

</body>
</html>
