<!DOCTYPE html>
<html>
<head>
  <title>Realty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body class="<%= controller_name %> <%= action_name %>" data-no-turbolink="true" >

<nav class="navbar navbar-default navbar-light bg-faded">

    <%= link_to(root_path, class:"navbar-brand navbar-logo") do %>
      <%= image_tag 'logo.png', id: "logo", class: "img-responsive" %>
    <% end %>

  <div class="nav navbar-nav">
    <%= link_to 'Аренда', params.merge({:type => "rent"}), class: "nav-item nav-link" %>
    <%= link_to 'Продажа', params.merge({:type => "buy"}), class: "nav-item nav-link" %>

  </div>
  <div class="nav navbar-nav pull-xs-right">
    <% if can? :create, Apartment %>
      <%= link_to_unless_current('New Apartment', new_apartment_path, class: "nav-item btn btn-primary-outline") {} %>
    <% end %>
    <div class="user-nav nav-item pull-xs-right">
      <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
      <% else %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
      <% end %>
    </div>
  </div>
</nav>


<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div id="content">
  <%= yield %>
</div>

</body>
</html>
